{% set imagesize = { 'small' : 360, 'medium' : 640, 'large' : 1024, 'xlarge' : 1600 } %}

<div class="card" id="{{card.id}}" fixedposition="{{ card.position }}">
    <div class="card-block">
        {% set resimage = { 'file' : card.preview, 'size' : imagesize.small } %}
        {% if resimage.file != "" %}
            {% include 'partials/_card_resimage.twig' with resimage %}
        {% endif %}
        <div class="card-text small">
            <a href="{{ card.link }}">{{ card.title }}</a>
        </div>
    </div>
</div>
    
