{% include 'partials/_header.twig' %}
    <body>
{% include 'partials/_navbar.twig' %}
    
    {# fetching content #}
    {# ---------------- #}
    {% set relatedrecords = record.related() %}
    {% set cards = relatedrecords %}

    {# getting the magic with rows and columns            #}
    {# i.e. 10 entries should give = 3/3/2/2, not 3/3/3/1 #}
    {# -------------------------------------------------- #}
    {% if cards|length > 4 %}
        {% set rows = (cards|length)//4 %}
        {% set d = (cards|length)-(rows*4) %}
        {% set magic = [ [0,rows+(d//d)], [rows+(d//d), rows+(d//2)|round(0,'floor')], [2*rows+(d//1.5|round(0,'ceil'))+(d//d), rows+(d//3|round(0,'floor'))], [(3*rows)+d, rows] ] %}
    {% else %}
        {% set magic = [ [0,1], [1,1], [2,1], [3,1] ] %}
    {% endif %}
    
    {# container #}
    {# --------- #}
    <div class="container-fluid">
        <div class="row">
                {% if page.body != "" %}
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                    <div class="card">
                        <div class="card-block">
                            {{ page.body }}
                        </div>
                    </div>
                </div>
                {% endif %}
                
                {# get the 4 columns #}
                {% for key in magic|keys %}
                    <div id="column-{{key}}" class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                    {# push rows in columns #}
                    {% for card in cards|slice(magic[key][0],magic[key][1]) %}
                            {% include 'partials/_card_page.twig' %}
                    {% endfor %}
                    </div>
                {% endfor %}
        </div> 
    </div>
</div>

<!--<div id="scrolldown"><span class="icon-down-open"></span></div> -->
<div onclick="topFunction();" id="scrollup"><span class="icon-up-open"></span></div>
{% include 'partials/_footer.twig' %}
