/* Import font files */
@font-face {
    font-family: 'font-bolditalic';
    src: url('fonts/Rubik-BoldItalic.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'font-bold';
    src: url('fonts/Rubik-Bold.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'font-regular';
    src: url('fonts/Rubik-Regular.woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'font-italic';
    src: url('fonts/Rubik-Italic.woff');
    font-weight: normal;
    font-style: normal;
}