/* Import font files */
@font-face {
    font-family: 'font-bolditalic';
    src: url('fonts/hinted-ElaineSans-BoldItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'font-bold';
    src: url('fonts/hinted-ElaineSans-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'font-regular';
    src: url('fonts/hinted-ElaineSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'font-italic';
    src: url('fonts/hinted-ElaineSans-Italic.ttf');
    font-weight: normal;
    font-style: normal;
}